<div class="slide image-slide">
	<span class="section">Tip #1: Keep your code organized</span>
	<h1>The piles on the floor</h1>
	<img src="img/angular-seed-organization.png"/>
	<span class="caption">In this example from <a href="https://github.com/angular/angular-seed">Angular-Seed project</a>, objects of the same nature are regrouped into a single file. This demonstrate poor code organization and will lead to humongous files in no time. Another downside of this approach is loosing useful insight provided by source control technologies like Git.</span>
	<span class="credits">Inspired from this great article wrote by Cliff Meyers: <a href="http://cliffmeyers.com/blog/2013/4/21/code-organization-angularjs-javascript">Code Organization in Large AngularJS and JavaScript Applications</a></span>
</div> 