<div class="slide image-slide">
	<span class="section">Tip #1: Keep your code organized</span>
	<h1>The socks drawer</h1>
	<img src="img/angular-batarang-organization.png"/>
	<span class="caption">The next logical pass at organizing JavaScript involves creating a directory for some of the archetypes and splitting objects into their own files. This is works better for small project but once you've reach more than 10 files per directory you start loosing time again. Drawers doesn't provide any insight about application architecture, we know that controllers are there but still need to dig to understand their dependencies</span>
</div> 