<div class="slide image-slide">
	<span class="section">Tip #1: Keep your code organized</span>
	<h1>Modularity</h1>
	<img src="img/angular-best-pratices-organization2.png"/>
	<span class="caption">With a modular organization is not just directory structure, it's architecture. Any random developer can now open the top-level folder and immediately gain insight into what the application does. Objects in the same folder now express their relationship and their dependencies to others.</span>
	<span></span>
</div> 