<div class="slide image-slide centered">
	<img src="img/yeoman.png"/>
	<div class="caption-wrapper">
		<span class="caption">Yo scaffolds out a new application, writing your Grunt configuration and pulling in relevant Grunt tasks that you might need for your build.</span>
		<span class="caption">Grunt is used to build, preview and test your project.</span>
		<span class="caption">Bower is used for dependency management, so that you no longer have to manually download and manage your scripts.</span>
	</div>
</div> 