<div class="slide centered-title-slide thanks">
	<h1>Questions?</h1>
	<h2>Feel free to reach me on twitter @trochette if you have any questions or comments about the content of this presentation. You can also fork it on Github and show me how you roll it!</h2>

	<span class="clear"></span>
	<a href="http://www.universalmind.com"><img src="img/um_logo.png"></a>
	<span class="clear"></span>
	<h3 class="no-margin">Thanks to all the folks at UM, all these patterns and best practices comes from team effort</h3>
</div> 