<div class="slide note5">
	<span class="section">Tip #1: Keep your controllers as simple as possible</span>
	<h1>Keep your scope uncluttered</h1>
	<pre class="highlightjs">
		<code>
		[...]

		defineListeners:function(){
		   /**
			* Destroy function don't need to be called from template, 
			* thus no need to make it publicly available via scope.
			*/
			this.$scope.$on('$destroy',this.destroy.bind(this));
		},

		[...]

		defineScope:function(){
		   /**
			* Title needs to be bind and displayed by the view.
			* In that case we need to make it publicly available via scope.
			*/
			this.$scope.title = "I love OpenCode.ca"
		},

		[...]

		</code>
	</pre>
</div>